@import "../../sass/variables.scss";
.trademark-registration-content {
  background: $color-white-primary;
}
.trademark-registration-container {
  padding: 2rem;
}

.trademark-registration {
  &__allcontents {
    width: 100%;
    padding: 5rem;
    font-family: "Josefin Sans", sans-serif;
    text-align: justify;
    & div h1 {
      text-align: left;
      font-size: 3.6rem;
      background-image: linear-gradient(
        to right bottom,
        $color-ocean-green,
        darken($color-ocean-green-dark, 10%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__about {
    &-content {
      padding: 2rem 0;
      & p {
        font-size: 1.6rem;
      }
    }
  }
  &__benefits {
    margin-top: 3rem;
    &-content {
      margin-top: 2rem;
      font-size: 1.6rem;
    }
  }
  &__documents {
    margin-top: 3rem;
    &-content {
      margin-top: 2rem;
      font-size: 1.6rem;
      & ul {
        margin-top: 0.5rem;
      }
    }
  }
  &__process {
    margin-top: 3rem;
    &-content {
      margin-top: 2rem;
      font-size: 1.6rem;
    }
    &-allcontent {
      & > header {
        font-size: 2rem;
        font-weight: 800;
        margin-top: 2rem;
        color: $color-dark-blue;
      }
      & main {
        margin-top: 1rem;
      }
    }
  }
  &__symbols {
    margin-top: 3rem;
    &-content {
      margin-top: 2rem;
      font-size: 1.6rem;
      & > header {
        font-size: 2rem;
        font-weight: 800;
        margin-top: 2rem;
        color: $color-dark-blue;
      }
      & main {
        margin-top: 1rem;
      }
    }
  }
  &__facts {
    margin-top: 3rem;
    &-content {
      margin-top: 2rem;
      font-size: 1.6rem;
    }
    &-allcontent {
      & > header {
        font-size: 2rem;
        font-weight: 800;
        margin-top: 2rem;
        color: $color-dark-blue;
      }
      & main {
        margin-top: 1rem;
      }
    }
  }
}
