@import "../../sass/variables.scss";
.landing-query__form {
  background: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;

  &-fields {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  &-field {
    margin: auto;
    outline: none;
    border: 2px solid $color-white-primary;
    margin-top: 1rem;
    font-size: 1.6rem;
    width: 100%;
    height: 5rem;
    transition: all 0.3s;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 11px 11px 48px #b8b8b8, -11px -11px 48px #ffffff;
    text-indent: 1rem;
    font-family: "FontAwesome";
    &::placeholder {
      font-size: 1.6rem;
    }
    &:focus {
      border: 2px solid rgb(226, 223, 223);
    }
  }
  &--question {
    height: 12rem;
  }
  &-button {
    margin: auto;
    width: 20rem;
    height: 5rem;
    border-radius: 2rem;
    font-size: 1.8rem;
  }
}

.landing-query__form--custom {
  background: rgba(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 33rem !important;
  width: 33rem !important;
  height: 48rem;
  position: relative;
  top: 2rem;
  box-shadow: -14px -14px 69px #d9d9d9, 14px 14px 69px #ffffff;

  &-fixed {
    position: fixed;
    top: 8rem;
  }

  &-fields {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  &-field {
    margin: auto;
    outline: none;
    border: 2px solid $color-white-primary;
    margin-top: 1rem;
    font-size: 1.6rem;
    width: 100%;
    height: 5rem;
    transition: all 0.3s;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 11px 11px 48px #b8b8b8, -11px -11px 48px #ffffff;
    text-indent: 1rem;
    font-family: "FontAwesome";
    &::placeholder {
      font-size: 1.6rem;
    }
    &:focus {
      border: 2px solid rgb(226, 223, 223);
    }
  }
  &--question {
    height: 12rem;
  }
  &-button {
    margin: auto;
    width: 20rem;
    height: 5rem;
    border-radius: 2rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 750px) {
  .landing-query__form {
    &-fields {
      padding: 1rem;
    }
    &--question {
      height: 6rem;
    }
  }
}
