@import "../../sass//variables.scss";
@import "../../sass//buttons.scss";
.private-limited {
  &__allcontents {
    background-color: #ffffff;
    width: 100%;
    padding: 5rem;
    & div h1 {
      font-size: 3.6rem;
      font-family: "Josefin Sans", sans-serif;
      background-image: linear-gradient(
        to right bottom,
        $color-ocean-green,
        darken($color-ocean-green-dark, 10%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
    }
  }
  &__about {
    margin-top: 3rem;
    &-content {
      padding: 2rem 0;
      & p {
        font-size: 1.6rem;
        font-family: "Josefin Sans", sans-serif;
      }
    }
  }

  &__features {
    margin-top: 3rem;
    &-content {
      padding: 2rem 0;
      font-size: 1.6rem;
      font-family: "Josefin Sans", sans-serif;
      & ul {
        margin: 0 0 1.5em;
        display: flex;
        justify-content: space-evenly;
      }

      & ul > li {
        width: 30rem;
        padding: 0.5rem;
        list-style-type: none;
        background-color: rgba($color-green-general, 0.8);
        display: flex;
        & > span {
          padding: 0 0.5rem;
          color: $color-white-primary;
        }
      }
    }
  }

  &__requirements {
    margin-top: 3rem;
    &-content {
      padding: 2rem 0;
    }
    &-content-card {
      font-family: "Josefin Sans", sans-serif;
      border: 2px solid $color-green-general;
      & .card-body > h5 {
        font-size: 1.8rem;
        color: $color-green-general;
      }
      & .card-body,
      li {
        font-size: 1.6rem;
        border: 1px solid $color-green-general;
      }
    }
  }

  &__procedure {
    margin-top: 3rem;
    &-content {
      padding: 2rem 0;
      font-size: 1.6rem;
      font-family: "Josefin Sans", sans-serif;
      & ul {
        margin: 0 0 1.5em;
        display: flex;
        justify-content: space-evenly;
        counter-reset: step;
      }

      & ul > li {
        width: 30rem;
        padding: 1rem;
        list-style-type: none;
        text-align: center;
        & > div {
          padding: 0.5rem;
          background-color: $color-green-general;
          color: $color-white-primary;
        }
        &:before{
          content: counter(step);
          counter-increment: step;
          width: 3rem;
          height: 3rem;
          line-height: 3rem;
          border-radius: 50%;
          display: block;
          margin: auto;
          background-color: $color-green-general;
          color: $color-white-primary;
          margin-bottom: 2rem;
        }
      }
    }
  }
  &__documents {
    margin-top: 3rem;
    &-content {
      padding: 2rem 0;
    }
    &-content-card {
      font-family: "Josefin Sans", sans-serif;
      border: 2px solid $color-green-general;
      & .card-body > h5 {
        font-size: 1.8rem;
        color: $color-green-general;
      }
      & .card-body,
      li {
        font-size: 1.6rem;
        border: 1px solid $color-green-general;
      }
    }
  }
  &__faqs {
    margin-top: 3rem;
    &-content {
      margin-top: 3rem;
    }
  }
  &__compliance{
    margin-top: 3rem;
    &-content{
      margin-top: 2rem;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.6rem;
    }
  }
  &__timetaken{
    margin-top: 3rem;
  }
}
