.private-limited {
  &__packages {
    background: #fff;
    &-content-header {
      & > div {
        margin-top: 5rem;
      }
      & h1 {
        font-size: 3.6rem;
        text-align: center;
      }
    }
    &-content-main {
      margin-top: 5rem;
    }
  }
}
