@import "../sass/variables.scss";
.checkout-screen {
  position: relative;
  font-weight: 600;
  color: $color-card-4-dark;
  top: 3rem;
  p {
    font-size: 1.6rem;
    font-weight: 600;
  }
  h2,
  h4 {
    font-size: 2rem;
  }

  & > * {
    font-size: 1.6rem;
  }
  & input {
    font-size: 1.6rem;
    &::placeholder {
      font-size: 1.6rem;
    }
  }
}
